.App {
  text-align: center;
  background-color: #fcf2a4 !important;
}

body {
  /* background-color:#abd7eb !important; */
}

.loader {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: arial;
}
.loader h1 {
  text-decoration: uppercase;
  font-size: 8em;
  color: rgba(0, 0, 0, 0.1);
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhT9AXpUqUyMjILJ9qn9PDvXpdXE-iqbc-HMXHfU04s6rJ0fbT);
  background-repeat: repeat-x;
  -webkit-background-clip: text;
  animation: animate 60s linear infinite;
}

@keyframes animate {
  0% {
    background-position: left 0px top 80px;
  }
  40% {
    background-position: left 800px top -50px;
  }

  80% {
    background-position: left 400px top -50px;
  }
}

#shortTable,
#dashboardTable {
  width: 100%;
  border-radius: 5px;

  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
}

#shortTable th,
#dashboardTable th {
  padding: 20px;
}

#shortTable th,
#shortTable td,
#dashboardTable th,
#dashboardTable td {
  padding: 1em;
  background: lightblue;
  border-bottom: 2px solid white;
  font-size: larger;
}

#dashboardDiv > h1 {
  margin-top: 120px;
}

#shortDiv h3 {
  border: 1px solid;
  border-radius: 1em;
  background: lightblue;
}

#shortDiv > img {
  border-radius: 1em;
  margin-bottom: 10px;
}
